nav div{
    background-color: black;
}

#banner ul{
    position: absolute;
    top: 250px;
    left: 50px;
}

#banner ul li{
    color: yellow;
    padding: 13px;
}

#footer{
    background-color: black;
}