*{
    padding: 0;
    margin: 0;
}

nav{
    background-color: black;
}

.navlinks{
    text-decoration: none;
    color: white;
}

.navlinks:hover{
    color: gray;
}

#banner ul{
    position: absolute;
    top: 250px;
    left: 50px;
}

#banner ul li{
    padding: 13px;
}

#banner ul li a{
    color: yellow;
}

#banner ul li a:hover{
    color: grey;
}

#footer{
    background-color: black;
}